{% extends 'base.html' %}
{% load static %}

{% block title %}
    تماس با من
{% endblock %}

{% block content %}
    <!-- Contact -->
    <section class="contact-area">
        <div class="container">
            <div class="gx-row d-flex justify-content-between gap-24">مر
                {% include 'includes/account_sidebar.html' %}
                <div data-aos="zoom-in" class="contact-form">
                    <div class="shadow-box">
                        <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                        <img id="rtlsm" src="{% static 'images/icon3.png' %}" alt="Icon">
                        <h1>بیا کار کنیم <span>با یکدیگر.</span></h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="alert alert-success messenger-box-contact__msg" style="display: none"
                                 role="alert">
                                پیام شما با موفقیت ارسال شد.
                            </div>
                            <div class="input-group">
                                <input type="text" name="name" id="name" placeholder="نام *">
                            </div>
                            <div class="input-group">
                                <input type="email" name="email" id="email" placeholder="ایمیل *">
                            </div>
                            <div class="input-group">
                                <input type="text" name="title" id="title" placeholder="عنوان شما *">
                            </div>
                            <div class="input-group">
                                <textarea name="body" id="body" placeholder="پیام شما *"></textarea>
                            </div>
                            <div class="input-group">
                                <button class="theme-btn submit-btn" name="submit" type="submit">ارسال پیام</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}