{% extends 'base.html' %}
{% load static %}

{% block title %}
    اعتبار نامه
{% endblock %}

{% block content %}
    <!-- Credentials -->
    <section class="credential-area">
        <div class="container">
            <div class="gx-row d-flex">
                <div class="credential-sidebar-wrap" data-aos="zoom-in">
                    <div class="credential-sidebar text-center">
                        <div class="shadow-box">
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="img-box">
                                <img src="{% static 'images/icons/myphoto.jpg' %}" alt="درمورد من">
                            </div>
                            <h2>الیاس شویکلو</h2>
                            <a href="https://shaviklooe@gmail.com">shaviklooe@gmail.com</a>

                            <ul class="social-links d-flex justify-content-center">
                                <li><a href="https://www.linkedin.com/in/elyas-shavikloo-b82751284/"><i
                                        class="iconoir-linkedin"></i></a></li>
                                <li><a href="https://github.com/ElyasShavikloo"><i class="iconoir-github"></i></a></li>
                                <li><a href="https://www.instagram.com/@elyasshavikloo7"><i
                                        class="iconoir-instagram"></i></a></li>
                                <li><a href="https://t.me/Elyasshavikloo"><i class="iconoir-telegram"></i></a></li>
                            </ul>

                            <a href="{% url 'home:contact' %}" class="theme-btn">تماس با من</a>
                        </div>
                    </div>
                </div>

                <div class="credential-content flex-1">
                    <div class="credential-about" data-aos="zoom-in">
                        <h2>درمورد من</h2>
                        <p>اولین مرحله رسیدن به موفقیت باور داشتن خودته. این جمله دقیقا همون چیزیه که می تونه استارت
                            ما
                            باشه.
                            <br>
                            برنامه نویسی پایتون و بک اند با جنگو تجربه خیلی خوبیه مخصوصا وقتی که علاقمند باشی.
                            شاید تجربه زیادی نداشته باشم ولی قطعا سعی می کنم موفق بشم حالا بیاین از کارمون بگم:
                            <br>
                            من توسعه دنده فریم ورک محبوب جنگو هستم(بک اند) و همون طور که می دونین جنگو یکی از بهترین
                            فریم
                            ورک
                            ها برای وب هست و غول های بزرگی مثل اینستاگرام و ناسا با همین فریم ورک محبوب ساخته شدن.
                            <br>
                            برای
                            اینکه هر سایتی با طراحی دلخواه؛ داشته باشید فقط کافیه به من بسپارید.</p>
                    </div>

                    <div class="credential-edc-exp credential-experience">
                        <h2 data-aos="fade-up">تجربیات</h2>
                        <div class="credential-edc-exp-item" data-aos="zoom-in">
                            <h3>توسعه دهنده فریم ورک جنگو</h3>
                            <h5>Back-end</h5>
                            <p>یکی از بهترین فریم ورک ها برای توسعه وب؛ فریم ورک محبوب و قدرتمند جنگوست.
                                از ویژگی های خوب این فریم ورک اینه که به زبان برنامه نویسی پایتون نوشته شده و این سهولت
                                استفاده از اون رو روشن می کنه.
                                <br>
                                جنگو دنیای بزرگیه و قطعا هیچکس به طور کامل به اون مسلط نیست ولی تمام سعیم اینه که بتونم
                                مفید واقع بشم.</p>
                        </div>
                        <div class="credential-edc-exp-item" data-aos="zoom-in">
                            <h3>برنامه نویس پایتون</h3>
                            <h5>Programming</h5>
                            <p>بی اغراق پایتون واقعا محبوب ترین زبان برنامه نویسیه و کاربرد خیلی زیادی در اکثر حوزه های برنامه نویسی از جمله وب، هوش مصنوعی، نرم افزار، بازی سازی و .. داره.
                            </p>
                        </div>
                    </div>

                    <div class="skills-wrap">
                        <h2 data-aos="fade-up">مهارت ها</h2>
                        <div class="d-grid skill-items gap-24 flex-wrap">
                            <div class="skill-item" data-aos="zoom-in">
                                <span class="percent">70%</span>
                                <h3 class="name">پایتون</h3>
                                <p>متوسط رو به بالا</p>
                            </div>
                            <div class="skill-item" data-aos="zoom-in">
                                <span class="percent">60%</span>
                                <h3 class="name">جنگو</h3>
                                <p>متوسط رو به بالا</p>

                            </div>
                            <div class="skill-item" data-aos="zoom-in">
                                <span class="percent">50%</span>
                                <h3 class="name">Html</h3>
                                <p>متوسط</p>
                            </div>
                            <div class="skill-item" data-aos="zoom-in">
                                <span class="percent">50%</span>
                                <h3 class="name">Css</h3>
                                <p>متوسط</p>
                            </div>
                            <div class="skill-item" data-aos="zoom-in">
                                <h3 class="name">Git</h3>
                                <p>مقدماتی</p>
                            </div>
                            <div class="skill-item" data-aos="zoom-in">
                                <h3 class="name">Sqlite</h3>
                                <p>مقدماتی</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}