<div class="contact-infos">
    <h3 data-aos="fade-up">اطلاعات تماس</h3>
    <ul class="contact-details">
        <li class="d-flex align-items-center" data-aos="zoom-in">
            <div class="icon-box shadow-box">
                <i class="iconoir-mail"></i>
            </div>
            <div class="right">
                <span>به ما ایمیل بزنید</span>
                <h4><a href="https://shaviklooe@gmail.com">shaviklooe@gmail.com</a></h4>
            </div>
        </li>

        <li class="d-flex align-items-center" data-aos="zoom-in">
            <div class="icon-box shadow-box">
                <i class="iconoir-phone"></i>
            </div>
            <div class="right">
                <span>با ما تماس بگیرید</span>
                <h4>9229892988 98+ </h4>
            </div>
        </li>

        <li class="d-flex align-items-center" data-aos="zoom-in">
            <div class="icon-box shadow-box">
                <i class="iconoir-pin-alt"></i>
            </div>
            <div class="right">
                <span>لوکیشن</span>
                <h4>ایران - تهران</h4>
            </div>
        </li>
    </ul>

    <h3 data-aos="fade-up">اطلاعات اجتماعی</h3>
    <ul class="social-links d-flex align-center" data-aos="zoom-in">
        <li><a class="shadow-box" href="https://t.me/Elyasshavikloo"><i class="iconoir-telegram"></i></a></li>
        <li><a class="shadow-box" href="https://github.com/ElyasShavikloo"><i class="iconoir-github"></i></a></li>
        <li><a class="shadow-box" href="https://www.instagram.com/elyasshavikloo7"><i class="iconoir-instagram"></i></a></li>
        <li><a class="shadow-box" href="https://www.linkedin.com/in/elyas-shavikloo-b82751284/"><i class="iconoir-linkedin"></i></a></li>
    </ul>
</div>
