{% load static %}
<!-- Footer -->
<footer class="footer-area">
    <div class="container">
        <div class="footer-content text-center">
            <a href="index.html" class="logo">
{#                <img src="{% static 'images/logo.svg' %}" alt="Logo">#}
                الیاس شویکلو
            </a>
            <ul class="footer-menu">
                <li><a href="index.html">خانه</a></li>
                <li><a href="about.html">درباره</a></li>
                <li><a href="works.html">کارها</a></li>
                <li><a href="contact.html">تماس با ما</a></li>
            </ul>
        </div>
    </div>
</footer>