{% load static %}
<!-- Header -->
<header class="header-area">
    <div class="container">
        <div class="gx-row d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Logo">
            </a>

            <nav class="navbar">
                <ul class="menu">
                    <li class="active"><a href="index.html">خانه</a></li>
                    <li><a href="about.html">درباره من</a></li>
                    <li><a href="works.html">کارهای من</a></li>
                    <li><a href="contact.html">تماس با من</a></li>
                </ul>
                <a href="contact.html" class="theme-btn">بیا حرف بزنیم</a>
            </nav>

            <a href="contact.html" class="theme-btn">بیا حرف بزنیم</a>

            <div class="show-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>