<div class="col-md-4">
    <div class="blog-sidebar">
        <div class="blog-sidebar-inner">

            <div class="blog-sidebar-widget search-widget">
                <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                    <form class="shadow-box" method="get" action="{% url 'blog:result' %}">
                        <input type="text" name="result" placeholder="اینجا جستجو کنید..." autocomplete="on">
                        <button class="theme-btn">جستجو</button>
                    </form>
                </div>
            </div>

            <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                <div class="blog-sidebar-widget-inner shadow-box">
                    <h3>پستهای اخیر</h3>

                    <ul>
                        {% for item in recent_article %}
                            <li><a href="{% url 'blog:article_details' item.slug %}">{{ item.title }} <br>
                                {{ item.body|truncatewords:7 }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                <div class="blog-sidebar-widget-inner shadow-box">
                    <h3>دسته بندی ها</h3>

                    <ul>
                        {% for category in categories %}
                            <li><a href="{% url 'blog:categories' category.id %}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>


        </div>
    </div>
</div>
