{% extends 'base.html' %}
{% load static %}

{% block title %}
    وبلاگ
{% endblock %}

{% block contact %}
    <!-- Breadcrumb -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content" data-aos="fade-up">
                <p>خانه - بلاگ</p>
                <h1 class="section-heading"><img src="{% static 'images/star-2.png' %}" alt="Star"> وبلاگ <img
                        src="{% static 'images/star-2.png' %}" alt="Star"></h1>
            </div>
        </div>
    </section>


    <!-- Blog Items -->
    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-items">
                        {% for article in object_list %}
                            <div class="blog-item" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="{{ article.image.url }}" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">  {{ article.created }} - نظرات (4) - اشتراک گذاری (7)</span>
                                    <h1><a href="{{ article.get_absolut.url }}">{{ article.title }}</a></h1>
                                    <p>{{ article.body|truncatewords:70 }}</p>
                                    <a href="{% url 'blog:details' article.slug %}" class="theme-btn">بیشتر بخوانید</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar-inner">

                            <div class="blog-sidebar-widget search-widget">
                                <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                    <form class="shadow-box">
                                        <input type="text" placeholder="اینجا جستجو کنید...">
                                        <button class="theme-btn">جستجو</button>
                                    </form>
                                </div>
                            </div>

                            <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                                <div class="blog-sidebar-widget-inner shadow-box">
                                    <h3>پستهای اخیر</h3>

                                    <ul>
                                        <li><a href="blog-details.html">اعتراف مشورت شده قدرت حاد است.</a></li>
                                        <li><a href="blog-details.html">درخواست های سیری ناپذیر ممکن است قدرت را جمع
                                            آوری کند.</a></li>
                                        <li><a href="blog-details.html">اکتشاف ناآرام با جدیت هیچ او دستور داد</a></li>
                                        <li><a href="blog-details.html">درخواست های سیری ناپذیر ممکن است قدرت را جمع
                                            آوری کند.</a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                                <div class="blog-sidebar-widget-inner shadow-box">
                                    <h3>دسته بندی ها</h3>

                                    <ul>
                                        <li><a href="blog-details.html">-آنالیز</a></li>
                                        <li><a href="blog-details.html">-دیواره آتش</a></li>
                                        <li><a href="blog-details.html">-راه حل های فناوری اطلاعات</a></li>
                                        <li><a href="blog-details.html">-امنیت</a></li>
                                        <li><a href="blog-details.html">-تکنولوژی</a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
                                <div class="blog-sidebar-widget-inner shadow-box">
                                    <h3>تگ ها</h3>

                                    <ul>
                                        <li><a class="theme-btn" href="blog-details.html">سس</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">توسعه</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">UI/UX</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">وب</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">فیگما</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">جاوا</a></li>
                                        <li><a class="theme-btn" href="blog-details.html">وردپرس</a></li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}