{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block title %}

{% endblock %}

{% block contact %}
    <!-- Breadcrumb -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content" data-aos="fade-up">
                <p>خانه - جزئیات وبلاگ</p>
                <h1 class="section-heading"><img src="{% static 'images/star-2.png' %}" alt="Star"> جزئیات وبلاگ <img
                        src="{% static 'images/star-2.png' %}" alt="Star"></h1>
            </div>
        </div>
    </section>


    <!-- Blog Details -->
    <section class="blog-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-details-content">
                        <div class="img-box">
                            <img src="{{ article.image.url }}" alt="Blog">
                        </div>
                        <span class="meta"> تاریخ ایجاد:{{ article.created }} نظر:  {{ article.comments.count }}  </span>
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.author }}</p>
                        <p>{{ article.category.first }}</p>
                        <p>{{ article.body }}</p>
{#                        <div class="tags">#}
{#                            <a href="blog-details.html#" class="theme-btn">سس</a>#}
{#                            <a href="blog-details.html#" class="theme-btn">توسعه</a>#}
{#                        </div>#}

                        <div class="col-6">
                            <ul class="fa-share">
                                <h5>اشتراک گذاری در:</h5>
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><i class="fa fa-whatsapp">{% post_to_whatsapp article.get_absolut_url "Whatsapp" %}</i></li>
                                <li><i class="fa fa-telegram">{% post_to_telegram article.title article.get_absolut_url "Telegram" %}</i></li>
                                <li><i class="fa fa-linkedin">{% post_to_linkedin article.get_absolut_url %}</i></li>
                            </ul>
                        </div>


                        <div class="comments-and-form-wrap">
                            <div class="comments-and-form-wrap-inner shadow-box">
                                <h2>{{ article.comments.count }}</h2>

                                <div class="comments">
                                    {% for comment in article.comments.all %}
                                        {% if comment.parent_id == None %}
                                            <div class="comment-list">
                                                <div class="comment-avatar">
                                                    {% if comment.user.profile.image %}
                                                        <img src="{{ comment.user.profile.image.url }}"
                                                             alt="َََ">
                                                    {% else %}
                                                        <img src="{% static 'images/profile_user.png' %}"
                                                             alt="">
                                                    {% endif %}                                                </div>
                                                <div class="comment-body">
                                                    <span class="date">{{ comment.created }}</span>
                                                    <h3>{{ comment.user }}</h3>
                                                    <p>{{ comment.body }}</p>
                                                    <a onclick="set_value({{ comment.id }})"
                                                       class="reply-btn theme-btn">پاسخ</a>
                                                </div>
                                            </div>
                                            {% for reply in comment.replies.all %}
                                                <div class="children">
                                                    <div class="comment-list">
                                                        <div class="comment-avatar">
                                                            {% if reply.user.profile.image %}
                                                                <img src="{{ reply.user.profile.image.url }}"
                                                                     alt="َََ">
                                                            {% else %}
                                                                <img src="{% static 'images/profile_user.png' %}"
                                                                     alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="comment-body">
                                                            <span class="date">{{ reply.created }}</span>
                                                            <h3>{{ reply.user }}</h3>
                                                            <p>{{ reply.body }}</p>
                                                            <a href="{{ reply.id }}"
                                                               class="reply-btn theme-btn">پاسخ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {#                                {% if reguest.user.is_authenticated %}#}
                                <div class="comment-form">
                                    <h2>پاسخ دهید</h2>

                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" name="name" placeholder="نام*">
                                        </div>
                                        <div class="input-group">
                                            <input type="text" name="email" placeholder="ایمیل*">
                                        </div>
                                        <div class="input-group">
                                            <textarea id='body' name="body" placeholder="پیام شما*"></textarea>
                                        </div>
                                        <div class="input-group">
                                            <input type="hidden" id="parent_id" name="parent_id" value="">
                                        </div>
                                        <div class="input-group">
                                            <button class="theme-btn" type="submit">ارسال پیام</button>
                                        </div>
                                    </form>
                                </div>
                                {#                                {% else %}#}
                                {#                                    <a class="btn btn-danger" href="{% url 'account:login' %}">for sending comment;#}
                                {#                                        please login </a>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>

                    </div>
                </div>
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>
    <script>

        function set_value(id) {
            document.getElementById('parent_id').value = id;
            window.location.href = '#body'
        }

    </script>
{% endblock %}